<div class="index">
  <h1>Problems</h1>
  <%= Enum.map @content, fn(post) ->
    """
    #{post.content}
    <hr class="post-base" />
    """
  end %>
  <div class="row">
    <div class="index-nav">
      <div class="four columns alpha">
        <%= @prev %> &nbsp;
      </div>
      <div class="four columns">&nbsp;</div>
      <div class="four columns omega pull-right">
        <%= @next %> &nbsp;
      </div>
    </div>
  </div>
</div>
