<div class="index">
  <%= Enum.join(@content, "
") %>

  <div class="index-nav">
    <div class="four columns alpha">
      <%= @prev %> &nbsp;
    </div>
    <div class="four columns">&nbsp;</div>
    <div class="four columns omega pull-right">
      <%= @next %> &nbsp;
    </div>
  </div>
</div>
